@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply text-gray-700;
  @apply h-screen
}

textarea{
  overflow-x: hidden !important ;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 26px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 10px solid transparent;
}

*::-webkit-scrollbar-thumb {        
  background-color: #acaaaa;

}


.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}
.path.circle {
  -webkit-animation: dash 0.9s ease-in-out;
  animation: dash 0.9s ease-in-out;
}
.path.line {
  stroke-dashoffset: 1000;
  -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
  animation: dash 0.9s 0.35s ease-in-out forwards;

}
.path.check {
  stroke-dashoffset: -100;
  -webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;
  animation: dash-check 0.9s 0.35s ease-in-out forwards;
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
    width: 50% !important;
    height: 50% !important;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash-cross {
 0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}
@-webkit-keyframes dash-cross {
  0% { transform: rotate(0deg); }
   25% { transform: rotate(5deg); }
   50% { transform: rotate(0deg); }
   75% { transform: rotate(-5deg); }
   100% { transform: rotate(0deg); }
 }

@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
    transform: rotate(10deg) translate(15%, -30%);
  }
  50%{
    stroke-dashoffset: 900;
    transform: translate(-5%, 5%);
  }
  100% {
    stroke-dashoffset: 900;
  }
}

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
    transform: rotate(10deg) translate(15%, -30%);
  }
  50%{
    stroke-dashoffset: 900;
    transform: translate(-5%, 5%);
  }
  100% {
    stroke-dashoffset: 900;
  }
}

.cross-anim{
  animation: dash-cross 0.2s 0.9s ease-in-out forwards;
}



.prose :where(code):not(:where([class~=not-prose] *)):before {
  content: "`";
}
.prose :where(code):not(:where([class~=not-prose] *)):after {
  content: "`";
}

pre {
  margin: 0!important;
  border-bottom-right-radius: 0.375rem !important;
  border-bottom-left-radius: 0.375rem !important;
}

.result-loading>:not(ol):not(ul):not(pre):last-child:after,
.result-loading>ol:last-child li:last-child:after,
.result-loading>pre:last-child code:after,
.result-loading>ul:last-child li:last-child:after,
.result-loading>p:last-child:after,
.result-loading>span:last-child:after{
  -webkit-animation: blink 1s steps(5,start) infinite;
  animation: blink 1s steps(5,start) infinite;
  content: "▋";
  margin-left: 0.25rem;
  vertical-align: baseline;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

table {
  @apply w-full;
  @apply text-left;
  @apply divide-y divide-x divide-gray-100;
  @apply rounded-lg;
  border-collapse: inherit;
  margin-bottom: .5rem;
}


th {
    @apply bg-gray-300;
}

td, th {
  @apply px-2 py-1;
}
td{
    @apply bg-gray-100;
}

.markdown th:first-child {
  @apply rounded-tl-md;
}
.markdown th:last-child {
  @apply rounded-tr-md;
}

.markdown tbody tr:last-child td:first-child {
  @apply rounded-bl-md;
}
.markdown tbody tr:last-child td:last-child {
  @apply rounded-br-md;
}

.message {
  --r: 25px; /* the radius */
  --t: 14px; /* the size of the tail */
  -webkit-mask:
          radial-gradient(var(--t) at var(--_d) 0,#0000 98%,#000 102%)
          var(--_d) 100%/calc(100% - var(--r)) var(--t) no-repeat,
          conic-gradient(at var(--r) var(--r),#000 75%,#0000 0)
          calc(var(--r)/-2) calc(var(--r)/-2) padding-box,
          radial-gradient(50% 50%,#000 98%,#0000 101%)
          0 0/var(--r) var(--r) space padding-box; @apply shadow-sm;

}

.response {
  --_d: 0%;
  border-left: var(--t) solid #0000;
  margin-right: var(--t);
  place-self: start;
}

.question {
  --_d: 100%;
  border-right: var(--t) solid #0000;
  margin-left: var(--t);
  place-self: end;
}